:root {
    --mainColor: #8978FD;
  }

body{
    margin: 0;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}
header{
    border-bottom: 1px solid  rgb(0 0 0 / 20%);
}
.tools{
    display:flex;
    gap: 50px;
}
.profile_mini{
    width: 60px;
    background-color:var(--mainColor) ;
    height: 60px;
    border-radius: 100%;

}   
.bg{
    margin-top: 2vh;
    background-color: white;
    width: 98%;
    height: 100vh;
    border-radius: 20px 20px 0px 0px;
}


.first_section{
    margin: 50px 150px;
    display: flex;

}

.profile{
    display: flex;
    width: 320px;
    height: 130px;
    border: 1px solid black;
    box-shadow: 20px 20px 5px rgba(217,217,217, 0.23);
}

.profile_pic{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--mainColor);
    margin: 15px 18px;
}

.profile_name{
    font-size: 24px;
    margin-top: 20px;
}
